
KicadV7/\#auto_saved_files\#
KicadV7/_autosave-gemma20Pico.kicad_sch
KicadV7/fp-info-cache
KicadV7/gemma20Pico.kicad_prl
KicadV7/gemma20Pico-backups/gemma20Pico-2023-07-03_143033.zip
*.zip
firmware/RCPico.uf2
images/PayRCDemo.png
*.mp4
MicroPython/WifiController/servoTest.py
