
KicadV7/\#auto_saved_files\#
KicadV7/_autosave-gemma20Pico.kicad_sch
KicadV7/fp-info-cache
KicadV7/gemma20Pico.kicad_prl
KicadV7/gemma20Pico-backups/gemma20Pico-2023-07-03_143033.zip
*.zip
firmware/RCPico.uf2
images/PayRCDemo.png
*.mp4
MicroPython/WifiController/servoTest.py
*.3MF
*.stl
3D_Model/FA-130 DC Motor .stp
*.FCStd

3D_Model/Gemma and Electrics.FCStd1
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/_Body Clips/01 Clip Print Orientation.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/_Body Clips/02 Clip Mount Location.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/AlfaLorean/_1 AlfaLorean.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/AlfaLorean/_2 AlfaLorean.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/AlfaLorean/_3 AlfaLorean Orientation.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/Butthead/_1 Butthead.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/Butthead/_2 Butthead.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/Butthead/_3 Butthead Orientation.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/The Boring/_1 TheBoring.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/The Boring/_2 TheBoring.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Body/The Boring/_3 The Boring Orientation.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/28 Scale/Tires/_Tires.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/32 Scale/Body Clips (for Tamiya Mini4wd Bodies)/01 Clip Print Orientation.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/32 Scale/Body Clips (for Tamiya Mini4wd Bodies)/02 Clip Mount Location.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/32 Scale/Tires/_Tires.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/_1 CHECK BEFORE PRINTING.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/_2 Print Orientation.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/_3 Chassis Differences.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Archive (Older Versions)/The Gamma 2.0 - V0/Tires (use with V0)/_Tires - Offroad.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Archive (Older Versions)/The Gamma 2.0 - V0/Tires (use with V0)/_Tires - Slicks.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Archive (Older Versions)/The Gamma 2.0 - V0/Tires (use with V0)/_Tires - Treads.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Archive (Older Versions)/The Gamma 2.0 - V1/_0 Sept 12 2022 - Update.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Archive (Older Versions)/The Gamma 2.0 - V1/_1 Chassis Differences.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Archive (Older Versions)/The Gamma 2.0 - V2/_1 Chassis Differences.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/000.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/001.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/002.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/003.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/004.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/005.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/006.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/007.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/010.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/012.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/013.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/014.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/500 AlfaLorean1.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/501 AlfaLorean2.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/502 TheBoring.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/897.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/898.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/899.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/Pictures/900 Gamma V0.jpg
3D_Model/new/The Gamma 2.0 - Printed in Place RC car/The Gamma 2.0/PRINT SETTINGS.txt
*.gbr
*.gbrjob
*.drl
